@charset "UTF-8";
/*! Benjamin Menant | WTFPL */
/*! Benjamin Menant | WTFPL */
/**
 * Libraries Imports
 *
 * =import
 */
/*! https://github.com/jjt/bower-solarized */
/**
 * Main Sizes
 *
 * =size
 */
/**
 * Compute size with rem unit, relying upon
 * the root font size without unit.
 *
 * @param   {number}    size    Size without unit.
 * @return  {number}    Size in rem unit.
 */
/**
 * Colors
 *
 * Use `$font-color` on `$background-color` for primary content.
 * Use `$font-em-color` on `$background-em-color` for emphasized content.
 * Use `$font-quiet-color` on `$background-color` for secondary content.
 *
 * =color
 */
/*! Benjamin Menant | WTFPL */
/**
 * Helpers
 *
 * =help
 */
#lmem--alternatives--root .tooltip-top > ::after, #lmem--alternatives--root .tooltip-bottom > ::after, #lmem--alternatives--root .tooltip-right > ::after, #lmem--alternatives--root .tooltip-left > ::after, #lmem--alternatives--root .tooltip-bottom-right > ::after, #lmem--alternatives--root .tooltip-bottom-left > ::after, #lmem--alternatives--root .tooltip-top-right > ::after, #lmem--alternatives--root .tooltip-top-left > ::after, #lmem--alternatives--root .summary-details tr:last-child .pane-opened::after, #lmem--alternatives--root .lmem-controls-tooltip > ::after, #lmem--alternatives--root .with-right-arrow::after, #lmem--alternatives--root .with-pane::after, #lmem--alternatives--root .with-double-pane::after, #lmem--alternatives--root .with-double-pane::before {
  border-style: solid;
  content: "";
  display: block;
  height: 0;
  position: absolute;
  width: 0; }

/**
 * Create an isoscele rectangular triangle.
 *
 * @param   {string.<'to top'|'to right'|'to bottom'|'to left'>}    $direction.
 * @param   {lenght}    $size   Size of the two shortest sides of the triangle.
 * @param   {color}     $color.
 */
.fixed {
  position: fixed; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visually-hidden, #lmem--alternatives--root .with-tooltip:not(:hover) .tooltip, #lmem--alternatives--root .with-tooltip.active .tooltip {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .visually-hidden.focusable:active, #lmem--alternatives--root .with-tooltip:not(:hover) .focusable.tooltip:active, #lmem--alternatives--root .with-tooltip.active .focusable.tooltip:active, .visually-hidden.focusable:focus, #lmem--alternatives--root .with-tooltip:not(:hover) .focusable.tooltip:focus, #lmem--alternatives--root .with-tooltip.active .focusable.tooltip:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

#lmem--alternatives--root .alternatives-searching-title, #lmem--alternatives--root .lmem-popup-title, #lmem--alternatives--root .lmem-noalt-title, #lmem--alternatives--root .lmem-popup-content h1, #lmem--alternatives--root .lmem-noalt-content h1, #lmem--alternatives--root .lmem-topbar-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 15px; }

/*! Benjamin Menant | WTFPL */
/**
 * Tooltips
 *
 */
#lmem--alternatives--root .with-tooltip {
  position: relative; }
  #lmem--alternatives--root .with-tooltip .tooltip {
    white-space: nowrap; }
#lmem--alternatives--root .tooltip {
  position: absolute;
  z-index: 100; }
  #lmem--alternatives--root .tooltip > * {
    background: rgba(0, 43, 54, 0.9);
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: -1px 1px 7px -2px #000;
    color: #93A1A1;
    display: block;
    font-size: 13px;
    hyphens: auto;
    line-height: 15px;
    margin: -1px;
    padding: 7px 15px;
    position: relative;
    text-shadow: none; }

#lmem--alternatives--root .tooltip-top {
  padding: 0 0 7px; }
  .with-tooltip #lmem--alternatives--root .tooltip-top {
    top: initial;
    right: calc(100% + 14px);
    bottom: calc(100% + 15px);
    left: initial; }
  #lmem--alternatives--root .tooltip-top > ::after {
    border-color: rgba(0, 43, 54, 0.9) transparent transparent;
    border-width: 8.4px 8.4px 0;
    top: calc(100% + 1px);
    right: initial;
    bottom: initial;
    left: calc(50% - 6.93968px); }

#lmem--alternatives--root .tooltip-bottom {
  padding: 7px 0 0; }
  .with-tooltip #lmem--alternatives--root .tooltip-bottom {
    top: calc(100% + 15px);
    right: calc(100% + 14px);
    bottom: initial;
    left: initial; }
  #lmem--alternatives--root .tooltip-bottom > ::after {
    border-color: transparent transparent rgba(0, 43, 54, 0.9);
    border-width: 0 8.4px 8.4px;
    top: initial;
    right: initial;
    bottom: calc(100% + 1px);
    left: calc(50% - 6.93968px); }

#lmem--alternatives--root .tooltip-right {
  padding: 0 0 0 7px; }
  .with-tooltip #lmem--alternatives--root .tooltip-right {
    top: calc(50% - 15px);
    right: initial;
    bottom: initial;
    left: calc(100%); }
  #lmem--alternatives--root .tooltip-right > ::after {
    border-color: transparent rgba(0, 43, 54, 0.9) transparent transparent;
    border-width: 7px 7px 7px 0;
    top: 9.05027px;
    right: initial;
    bottom: initial;
    left: -8px; }

#lmem--alternatives--root .tooltip-left {
  padding: 0 7px 0 0; }
  .with-tooltip #lmem--alternatives--root .tooltip-left {
    top: calc(50% - 15px);
    right: calc(100%);
    bottom: initial;
    left: initial; }
  #lmem--alternatives--root .tooltip-left > ::after {
    border-color: transparent transparent transparent rgba(0, 43, 54, 0.9);
    border-width: 7px 0 7px 7px;
    top: 9.05027px;
    right: -8px;
    bottom: initial;
    left: initial; }

#lmem--alternatives--root .tooltip-bottom-right {
  padding: 7px 0 0; }
  .with-tooltip #lmem--alternatives--root .tooltip-bottom-right {
    top: calc(100%);
    right: 0;
    bottom: initial;
    left: initial; }
  #lmem--alternatives--root .tooltip-bottom-right > ::after {
    border-color: transparent transparent rgba(0, 43, 54, 0.9);
    border-width: 0 8.4px 8.4px;
    top: initial;
    right: 7.06032px;
    bottom: calc(100% + 1px);
    left: initial; }

#lmem--alternatives--root .tooltip-bottom-left {
  padding: 7px 0 0; }
  .with-tooltip #lmem--alternatives--root .tooltip-bottom-left {
    top: calc(100%);
    right: initial;
    bottom: initial;
    left: 0; }
  #lmem--alternatives--root .tooltip-bottom-left > ::after {
    border-color: transparent transparent rgba(0, 43, 54, 0.9);
    border-width: 0 8.4px 8.4px;
    top: initial;
    right: initial;
    bottom: calc(100% + 1px);
    left: 7.06032px; }

#lmem--alternatives--root .tooltip-top-right {
  padding: 0 0 7px; }
  .with-tooltip #lmem--alternatives--root .tooltip-top-right {
    top: initial;
    right: 0;
    bottom: calc(100%);
    left: initial; }
  #lmem--alternatives--root .tooltip-top-right > ::after {
    border-color: rgba(0, 43, 54, 0.9) transparent transparent;
    border-width: 8.4px 8.4px 0;
    top: calc(100% + 1px);
    right: 7.06032px;
    bottom: initial;
    left: initial; }

#lmem--alternatives--root .tooltip-top-left {
  padding: 0 0 7px; }
  .with-tooltip #lmem--alternatives--root .tooltip-top-left {
    top: initial;
    right: initial;
    bottom: calc(100%);
    left: 0; }
  #lmem--alternatives--root .tooltip-top-left > ::after {
    border-color: rgba(0, 43, 54, 0.9) transparent transparent;
    border-width: 8.4px 8.4px 0;
    top: calc(100% + 1px);
    right: initial;
    bottom: initial;
    left: 7.06032px; }

#lmem--alternatives--root {
  all: initial;
  background-color: #FDF6E3;
  color: #657B83;
  font-family: Ubuntu, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  margin: 0;
  overflow: hidden;
  overflow-x: auto;
  /**
   * Quick Reset
   *
   * =reset
   */
  /**
   * Menus
   *
   * =menu
   */
  /**
   * Main Layout
   *
   * =layout
   */
  /**
   * Query Summary
   *
   * =querysum
   */
  /**
   * Alternatives Summary
   *
   * =altsum
   */
  /**
   * Alternatives Panes
   *
   * =panes
   */
  /**
   * Alternatives Excerpts
   * (at minified status)
   *
   * =excerpt
   */
  /**
   * LMEM Searching Notification
   *
   * =search
   */
  /**
   * LMEM Footer
   *
   * =footer
   */
  /**
   * LMEM logo-button
   */
  /**
   * LMEM Popup
   *
   * =popup
   */
  /**
   * LMEM Share Buttons
   *
   * =share
   */
  /**
   * LMEM No Alternatives
   *
   * =noalt
   */
  /**
   * Thanks
   *
   * =thank
   */
  /**
   * LMEM Topbar
   *
   * =topbar
   */
  /**
   * Summaries
   *
   * =sum
   */
  /**
   * Prices
   *
   * =price
   */
  /**
   * Badges
   *
   * =badges
   */
  /**
   * Pictos
   *
   * =picto
   */
  /**
   * Tooltips
   *
   * =tooltip
   */
  /**
   * Buttons
   *
   * =button
   */ }
  #lmem--alternatives--root * {
    all: initial;
    color: #657B83;
    font-family: Ubuntu, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    margin: 0; }
  #lmem--alternatives--root p, #lmem--alternatives--root ul, #lmem--alternatives--root ol, #lmem--alternatives--root li {
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0; }
  #lmem--alternatives--root ul, #lmem--alternatives--root ol {
    list-style: none; }
  #lmem--alternatives--root h1, #lmem--alternatives--root h2, #lmem--alternatives--root h3, #lmem--alternatives--root h4, #lmem--alternatives--root h5, #lmem--alternatives--root h6 {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0; }
  #lmem--alternatives--root table {
    border-collapse: separate;
    border-spacing: 0;
    empty-cells: hide; }
  #lmem--alternatives--root caption,
  #lmem--alternatives--root th {
    font-weight: inherit; }
  #lmem--alternatives--root th, #lmem--alternatives--root td {
    border: 0;
    margin: 0;
    padding: 0; }
  #lmem--alternatives--root a:link, #lmem--alternatives--root a.no-visited:visited,
  #lmem--alternatives--root :link,
  #lmem--alternatives--root .no-visited:visited {
    color: #657B83;
    text-decoration: underline !important; }
  #lmem--alternatives--root :visited {
    color: #657B83; }
  #lmem--alternatives--root a:hover, #lmem--alternatives--root a:hover.no-visited,
  #lmem--alternatives--root a:focus,
  #lmem--alternatives--root a:focus.no-visited,
  #lmem--alternatives--root a:active,
  #lmem--alternatives--root a:active.no-visited {
    color: #4c99d2;
    text-decoration: truenone; }
  #lmem--alternatives--root strong, #lmem--alternatives--root b {
    font-weight: inherit; }
  #lmem--alternatives--root small {
    color: #93A1A1;
    font-size: inherit; }
  #lmem--alternatives--root mark {
    background-color: #EEE8D5;
    border-radius: 2px;
    color: #586E75;
    padding: 0 .5ex; }
  #lmem--alternatives--root .highlight, #lmem--alternatives--root .popup-highlight {
    display: block;
    background: #FFFDF9;
    border-radius: 3px;
    padding: 15px; }
  #lmem--alternatives--root .with-menu {
    position: relative; }
  #lmem--alternatives--root .menu-wrapper {
    box-shadow: 0 0 7px -4px #000;
    font-size: 15px;
    position: absolute;
    text-align: left;
    width: 180px;
    z-index: 100; }
    #lmem--alternatives--root .menu-wrapper > div {
      padding: 0 7px; }
  #lmem--alternatives--root .menu-bottom-right {
    right: 0; }
  #lmem--alternatives--root .menu-bottom-left {
    left: 0; }
  #lmem--alternatives--root .menu-right {
    left: calc(100% + 3px);
    top: 0; }
  #lmem--alternatives--root .menu-left {
    right: calc(100% + 3px);
    top: 0; }
  #lmem--alternatives--root .menu-header {
    background: #FFFDF9;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 -6px 6px -10px #000 inset;
    display: flex;
    font-weight: 500; }
  #lmem--alternatives--root .menu-title {
    flex: 1 1 auto; }
  #lmem--alternatives--root .menu-close-picto {
    width: 15px;
    vertical-align: middle; }
  #lmem--alternatives--root .menu-content {
    background: #FFFDF9;
    border-radius: 0 0 3px 3px; }
  #lmem--alternatives--root .menu-list {
    padding: 7px 0; }
    #lmem--alternatives--root .menu-list > li {
      margin: 0; }
  #lmem--alternatives--root body {
    margin: 0;
    width: auto; }
  #lmem--alternatives--root .main {
    display: flex;
    flex-direction: column; }
  #lmem--alternatives--root .lmem-popup-body {
    min-width: 660px; }
  #lmem--alternatives--root .tch2-body {
    min-width: 940px;
    width: auto; }
  #lmem--alternatives--root .sideframe {
    flex: 0 1 auto;
    width: 313.33333px; }
  #lmem--alternatives--root .wrapperframe {
    margin: 15px 15px 0; }
  #lmem--alternatives--root .query-summary {
    font-size: 13px;
    margin-top: 8px; }
  #lmem--alternatives--root .summary-entry {
    display: flex;
    margin-bottom: 15px; }
    #lmem--alternatives--root .summary-entry b {
      overflow: hidden;
      margin-left: 1ex;
      text-overflow: ellipsis; }
    #lmem--alternatives--root .summary-entry strong {
      font-weight: 900; }
  #lmem--alternatives--root .summary-entry-content {
    display: inline-flex;
    overflow: hidden;
    white-space: nowrap; }
    #lmem--alternatives--root .summary-entry-content strong {
      color: #f68714; }
  #lmem--alternatives--root .summary-entry-title {
    flex: 0 0 auto; }
  #lmem--alternatives--root .lmem-header-title-tooltip {
    max-width: 240px; }
  #lmem--alternatives--root .alternatives-summary-filter {
    line-height: 30px; }
    #lmem--alternatives--root .alternatives-summary-filter, #lmem--alternatives--root .alternatives-summary-filter ul, #lmem--alternatives--root .alternatives-summary-filter li {
      display: inline-block; }
    #lmem--alternatives--root .alternatives-summary-filter a:focus {
      color: inherit; }
    #lmem--alternatives--root .alternatives-summary-filter a:hover {
      color: #4c99d2; }
    #lmem--alternatives--root .alternatives-summary-filter .active a {
      color: #f68714; }
    #lmem--alternatives--root .alternatives-summary-filter li:not(:last-child)::after {
      content: '–'; }
  #lmem--alternatives--root .alternatives-summary-disclaimer {
    float: right;
    line-height: 30px; }
  #lmem--alternatives--root .alternatives-summary-noalt {
    line-height: 30px; }
  #lmem--alternatives--root .alternatives-summary {
    font-size: 15px;
    line-height: 30px;
    table-layout: fixed;
    text-align: center;
    width: 100%; }
    #lmem--alternatives--root .alternatives-summary col:first-child {
      width: 105px; }
    #lmem--alternatives--root .alternatives-summary col {
      transition: background-color .3s; }
      #lmem--alternatives--root .alternatives-summary col.pane-opened {
        background-color: #FFFDF9; }
    #lmem--alternatives--root .alternatives-summary .button-deactivated {
      background: none;
      border: none;
      box-shadow: none;
      color: inherit;
      text-shadow: none; }
      #lmem--alternatives--root .alternatives-summary .button-deactivated .with-pane::after, #lmem--alternatives--root .alternatives-summary .button-deactivated .with-double-pane::after {
        content: none; }
  #lmem--alternatives--root .summary-thumbnails td, #lmem--alternatives--root .summary-thumbnails th,
  #lmem--alternatives--root .summary-details td,
  #lmem--alternatives--root .summary-details th,
  #lmem--alternatives--root .summary-reminders td,
  #lmem--alternatives--root .summary-reminders th {
    border-color: #657B83;
    border-style: solid;
    border-width: 1px 0 0 3px;
    padding: 7px; }
    #lmem--alternatives--root .summary-thumbnails td:last-child, #lmem--alternatives--root .summary-thumbnails th:last-child,
    #lmem--alternatives--root .summary-details td:last-child,
    #lmem--alternatives--root .summary-details th:last-child,
    #lmem--alternatives--root .summary-reminders td:last-child,
    #lmem--alternatives--root .summary-reminders th:last-child {
      border-right-width: 3px; }
    #lmem--alternatives--root .summary-thumbnails td:first-child, #lmem--alternatives--root .summary-thumbnails th:first-child,
    #lmem--alternatives--root .summary-details td:first-child,
    #lmem--alternatives--root .summary-details th:first-child,
    #lmem--alternatives--root .summary-reminders td:first-child,
    #lmem--alternatives--root .summary-reminders th:first-child {
      text-align: left; }
  #lmem--alternatives--root .summary-details tr:last-child td, #lmem--alternatives--root .summary-details tr:last-child th {
    border-bottom-width: 1px;
    padding-bottom: 6px;
    position: relative; }
  #lmem--alternatives--root .summary-details tr:last-child .pane-opened::after {
    border-color: transparent transparent #657B83;
    border-width: 0 15px 15px;
    bottom: -18px;
    left: calc(50% - 10.60658px); }
  #lmem--alternatives--root .summary-reminders td {
    border-width: 0 3px 1px 3px; }
  #lmem--alternatives--root .summary-reminders td + td {
    border-right-width: 0; }
  #lmem--alternatives--root .summary-reminders .summary-reminder-empty {
    empty-cells: show;
    border-bottom-width: 0; }
    #lmem--alternatives--root .summary-reminders .summary-reminder-empty:not(:first-child) {
      border-left-width: 3px; }
    #lmem--alternatives--root .summary-reminders .summary-reminder-empty + .summary-reminder-empty, #lmem--alternatives--root .summary-reminders .summary-reminder-empty:nth-child(2) {
      border-left-width: 0; }
    #lmem--alternatives--root .summary-reminders .summary-reminder-empty:last-child {
      border-right-width: 0; }
  #lmem--alternatives--root .alternatives-wrapper {
    display: flex; }
    #lmem--alternatives--root .alternatives-wrapper .alternatives {
      flex: 1 1 0;
      max-width: 600px; }
  #lmem--alternatives--root .alternatives {
    background: #FFFDF9;
    border: 1px solid #657B83;
    margin-left: 105px;
    margin-top: 15px;
    position: relative; }
    #lmem--alternatives--root .alternatives > div {
      margin: 14px 0 14px 14px;
      max-height: 135px;
      overflow: auto; }
    #lmem--alternatives--root .alternatives .alternative {
      margin-right: 14px; }
  #lmem--alternatives--root .alternative {
    padding: 7px 0; }
    #lmem--alternatives--root .alternative:not(:last-child) {
      border-bottom: 1px solid #657B83; }
    #lmem--alternatives--root .alternative:last-child {
      padding-bottom: 8px; }
    #lmem--alternatives--root .alternative > div {
      display: flex; }
  #lmem--alternatives--root .alternative-tooltip {
    display: inline-block;
    max-width: 240px; }
  #lmem--alternatives--root .alternative-affiliation {
    flex: 3 2 0;
    line-height: 30px; }
  #lmem--alternatives--root .alternative-price {
    flex: 1 2 0;
    align-items: center;
    display: flex; }
    #lmem--alternatives--root .alternative-price strong {
      font-size: 15px;
      text-align: right; }
    #lmem--alternatives--root .alternative-price.featured strong {
      flex: 1 1 0; }
    #lmem--alternatives--root .alternative-price.featured small {
      flex: 1 2 0;
      line-height: 15px;
      padding-left: 7px;
      text-align: left; }
  #lmem--alternatives--root .alternative-details {
    flex: 3 2 0;
    overflow: hidden; }
  #lmem--alternatives--root .alternative-details-entity {
    display: flex;
    white-space: nowrap; }
  #lmem--alternatives--root .alternative-time {
    flex: 0 0 auto;
    font-size: 15px;
    font-weight: 500; }
  #lmem--alternatives--root .alternative-city {
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis; }
    #lmem--alternatives--root .alternative-city::before {
      content: ' – '; }
  #lmem--alternatives--root .excerpt-entry {
    align-items: center;
    display: flex;
    flex: 1 1 0; }
    #lmem--alternatives--root .excerpt-entry.alone {
      flex: 2 1 0; }
    #lmem--alternatives--root .excerpt-entry:not(:last-child) {
      border-right: 1px solid rgba(147, 161, 161, 0.3);
      margin-right: 15px;
      padding-right: 14px; }
    #lmem--alternatives--root .excerpt-entry small {
      display: inline-block; }
    #lmem--alternatives--root .excerpt-entry strong {
      font-weight: 500; }
  #lmem--alternatives--root .reco {
    font-size: 18px;
    line-height: 30px;
    display: block; }
  #lmem--alternatives--root .reco-button,
  #lmem--alternatives--root a.reco-button:link,
  #lmem--alternatives--root a.reco-button.no-visited:visited {
    line-height: 30px;
    text-decoration: none !important; }
    #lmem--alternatives--root .reco-button img,
    #lmem--alternatives--root a.reco-button:link img,
    #lmem--alternatives--root a.reco-button.no-visited:visited img {
      width: 25px;
      margin-left: 0 !important;
      margin-right: 1ex;
      transform: rotate(-90deg); }
    #lmem--alternatives--root .reco-button .button-label,
    #lmem--alternatives--root a.reco-button:link .button-label,
    #lmem--alternatives--root a.reco-button.no-visited:visited .button-label {
      line-height: inherit !important;
      font-weight: 700; }
  #lmem--alternatives--root .alternatives-searching-wrapper {
    display: flex;
    flex: 1 1 auto;
    align-items: center; }
  #lmem--alternatives--root .alternatives-searching-content {
    flex: 1 1 0;
    font-size: 15px;
    min-width: 420px; }
    #lmem--alternatives--root .alternatives-searching-content b {
      color: #586E75; }
  #lmem--alternatives--root .alternatives-searching-progress {
    border: 1px solid rgba(147, 161, 161, 0.3);
    flex: 1 1 0;
    height: 28px;
    margin-right: 15px;
    overflow: hidden;
    position: relative;
    max-width: 178px; }
    #lmem--alternatives--root .alternatives-searching-progress::before {
      animation-direction: alternate;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-name: searching-progress;
      animation-timing-function: linear;
      background-color: #f68714;
      background-clip: content-box;
      border-right: 15px solid #f68714;
      border-left: 15px solid #f68714;
      bottom: 7px;
      content: '';
      display: block;
      padding: 0 15px;
      position: absolute;
      top: 7px;
      width: 15px; }
@keyframes searching-progress {
  from {
    left: -50%; }
  to {
    left: 100%; } }
  #lmem--alternatives--root .lmem-footer {
    position: fixed;
    left: 15px;
    bottom: 7px; }
  #lmem--alternatives--root .lmem-footer-wrapper {
    align-items: center;
    display: flex;
    justify-content: flex-end; }
  #lmem--alternatives--root .lmem-footer-logo, #lmem--alternatives--root .lmem-topbar-logo {
    flex: 0 0 auto;
    margin-right: 7px; }
    #lmem--alternatives--root .lmem-footer-logo img, #lmem--alternatives--root .lmem-topbar-logo img {
      width: 45px;
      vertical-align: top; }
  #lmem--alternatives--root .lmem-popup-title, #lmem--alternatives--root .lmem-noalt-title {
    background: url("../img/logo-lmem.svg") no-repeat 0 0;
    padding-left: 60px;
    display: flex;
    flex-direction: column; }
    #lmem--alternatives--root .lmem-popup-title span, #lmem--alternatives--root .lmem-noalt-title span {
      font-weight: 600; }
    #lmem--alternatives--root .lmem-popup-title small, #lmem--alternatives--root .lmem-noalt-title small {
      line-height: 15px;
      font-size: 15px; }
  #lmem--alternatives--root .lmem-popup-content, #lmem--alternatives--root .lmem-noalt-content {
    font-size: 15px; }
    #lmem--alternatives--root .lmem-popup-content h1, #lmem--alternatives--root .lmem-noalt-content h1 {
      font-weight: 600;
      margin: 15px 0 0; }
    #lmem--alternatives--root .lmem-popup-content h2, #lmem--alternatives--root .lmem-noalt-content h2 {
      font-weight: 500;
      line-height: 30px;
      margin-top: 15px; }
    #lmem--alternatives--root .lmem-popup-content h3, #lmem--alternatives--root .lmem-noalt-content h3 {
      margin-bottom: 15px;
      font-weight: 500; }
    #lmem--alternatives--root .lmem-popup-content ul, #lmem--alternatives--root .lmem-noalt-content ul {
      display: flex;
      justify-content: space-between;
      margin-top: 15px; }
    #lmem--alternatives--root .lmem-popup-content li, #lmem--alternatives--root .lmem-noalt-content li {
      background: #FFFDF9;
      max-width: 180px;
      padding: 15px;
      border-radius: 3px; }
    #lmem--alternatives--root .lmem-popup-content .button, #lmem--alternatives--root .lmem-noalt-content .button {
      align-items: center;
      font-weight: 400;
      display: flex;
      height: 43px; }
    #lmem--alternatives--root .lmem-popup-content strong, #lmem--alternatives--root .lmem-noalt-content strong {
      font-weight: 500; }
  #lmem--alternatives--root .lmem-popup-form-wrapper h3 {
    margin: 15px 0 0; }
  #lmem--alternatives--root .lmem-popup-form-wrapper p.share-button-wrapper,
  #lmem--alternatives--root .alternatives-req-form-wrapper p.share-button-wrapper {
    line-height: 30px; }
    #lmem--alternatives--root .lmem-popup-form-wrapper p.share-button-wrapper .share-button-wrapper,
    #lmem--alternatives--root .alternatives-req-form-wrapper p.share-button-wrapper .share-button-wrapper {
      margin: 0 .3ex; }
  #lmem--alternatives--root .lmem-popup-form-wrapper .share-button-wrapper img,
  #lmem--alternatives--root .alternatives-req-form-wrapper .share-button-wrapper img {
    height: 20px;
    vertical-align: text-bottom; }
  #lmem--alternatives--root .lmem-popup-form-wrapper .fieldset-inner-wrapper,
  #lmem--alternatives--root .alternatives-req-form-wrapper .fieldset-inner-wrapper {
    margin: 5px 0 0; }
  #lmem--alternatives--root .lmem-popup-controls {
    position: fixed;
    top: 5px;
    right: 5px; }
    #lmem--alternatives--root .lmem-popup-controls .picto {
      width: 20px; }
  #lmem--alternatives--root .lmem-popup-footer, #lmem--alternatives--root .lmem-noalt-footer {
    margin-top: 15px; }
  #lmem--alternatives--root form {
    counter-reset: form-legends; }
  #lmem--alternatives--root fieldset {
    border: 0;
    margin: 0;
    padding: 0; }
  #lmem--alternatives--root fieldset:not(:first-child) {
    margin-top: 15px; }
  #lmem--alternatives--root legend {
    font-size: 15px;
    font-weight: 500;
    line-height: 30px; }
  #lmem--alternatives--root legend::before {
    content: counter(form-legends) ".";
    counter-increment: form-legends; }
  #lmem--alternatives--root .form-submit {
    margin-left: 7px; }
  #lmem--alternatives--root .form-criteria-inner {
    display: flex;
    flex-direction: column; }
    #lmem--alternatives--root .form-criteria-inner label {
      line-height: 30px;
      font-size: 15px;
      margin-right: 15px; }
  #lmem--alternatives--root .form-email input {
    background: #FFFDF9;
    border: 1px solid rgba(147, 161, 161, 0.8);
    color: #586E75;
    display: inline-block;
    font-size: 15px;
    line-height: 30px;
    margin-bottom: -1px;
    margin-top: -1px;
    padding: 0 5px; }
  #lmem--alternatives--root .fieldset-inner-wrapper {
    display: flex; }
  #lmem--alternatives--root .form-submit button {
    font-size: 15px;
    font-weight: 900;
    justify-content: space-between;
    line-height: 30px;
    min-width: 200px;
    padding: 0 7px; }
  #lmem--alternatives--root .form-submit img {
    height: 28px;
    margin: 0;
    transform: rotate(-90deg); }
  #lmem--alternatives--root .form-submit button[disabled] {
    transition: all .5s; }
    #lmem--alternatives--root .form-submit button[disabled], #lmem--alternatives--root .form-submit button[disabled]:hover, #lmem--alternatives--root .form-submit button[disabled]:focus, #lmem--alternatives--root .form-submit button[disabled]:active {
      background: initial;
      cursor: default; }
  #lmem--alternatives--root .form-submit .loading img {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: loading;
    animation-timing-function: linear; }
@keyframes loading {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
  #lmem--alternatives--root input[type=email].ng-touched.ng-invalid,
  #lmem--alternatives--root input[type=text].ng-touched.ng-invalid {
    border-color: #f14621; }
  #lmem--alternatives--root input[type=email].ng-touched.ng-valid,
  #lmem--alternatives--root input[type=text].ng-touched.ng-valid {
    border-color: #859900; }
  #lmem--alternatives--root .mainframe form,
  #lmem--alternatives--root .mainframe .form-email {
    margin-top: 0; }
  #lmem--alternatives--root .mainframe .form-criteria {
    flex-direction: row;
    flex-wrap: wrap; }
    #lmem--alternatives--root .mainframe .form-criteria legend {
      flex: 0 100%; }
  #lmem--alternatives--root .mainframe .form-criteria-inner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 60px; }
  @media (max-width: 1300px) {
    #lmem--alternatives--root .mainframe label small {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px; }
      #lmem--alternatives--root .mainframe label small.focusable:active, #lmem--alternatives--root .mainframe label small.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto; } }
  #lmem--alternatives--root .alternatives-req-form-wrapper h1 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 500; }
  #lmem--alternatives--root .alternatives-req-form-wrapper h2 {
    line-height: 30px;
    margin-top: 15px;
    font-weight: 600; }
  #lmem--alternatives--root .alternatives-req-form-wrapper .lmem-noalt-content:last-of-type {
    margin-bottom: 15px; }
  #lmem--alternatives--root .lmem-header .form-hero {
    margin-bottom: 15px; }
    #lmem--alternatives--root .lmem-header .form-hero strong {
      font-weight: 600; }
  #lmem--alternatives--root .lmem-share-buttons {
    align-items: center;
    background-color: #FDF6E3;
    border-radius: 3px;
    color: #657B83;
    display: flex;
    flex: 0 0 auto;
    margin-right: 30px;
    padding: 0 7px; }
    #lmem--alternatives--root .lmem-share-buttons h2 {
      line-height: 15px; }
    #lmem--alternatives--root .lmem-share-buttons > :not(:last-child) {
      margin-right: 7px; }
    #lmem--alternatives--root .lmem-share-buttons .share-button-wrapper {
      display: inline-flex;
      align-items: center; }
      #lmem--alternatives--root .lmem-share-buttons .share-button-wrapper img {
        display: block;
        width: 20px; }
      #lmem--alternatives--root .lmem-share-buttons .share-button-wrapper a {
        display: block; }
  #lmem--alternatives--root .thank-wrapper {
    line-height: 30px; }
    #lmem--alternatives--root .thank-wrapper h1 {
      font-size: 15px;
      font-weight: 600;
      margin-right: 15px; }
    #lmem--alternatives--root .thank-wrapper h2 {
      margin-bottom: 22px;
      margin-top: 8px;
      font-weight: 600; }
    #lmem--alternatives--root .thank-wrapper strong {
      color: #f68714;
      font-weight: 500; }
    #lmem--alternatives--root .thank-wrapper .share-button-wrapper {
      display: flex; }
    #lmem--alternatives--root .thank-wrapper .facebook-share-button {
      margin-left: 15px; }
    #lmem--alternatives--root .thank-wrapper button {
      display: block;
      font-weight: 600;
      margin-left: 15px;
      padding: 0 15px; }
    #lmem--alternatives--root .thank-wrapper .button-deactivated {
      color: #93A1A1;
      box-shadow: none;
      background: none; }
    #lmem--alternatives--root .thank-wrapper img {
      height: 26px;
      vertical-align: middle;
      transform: rotate(-90deg);
      margin: 0 5px 0 -5px; }
  #lmem--alternatives--root .thank-innerwrapper {
    display: flex; }
  #lmem--alternatives--root .lmem-topbar-logo {
    position: absolute;
    left: 15px;
    top: 8px; }
  #lmem--alternatives--root .lmem-topbar-notification {
    flex: 1 1 auto;
    margin-left: 60px; }
  #lmem--alternatives--root .lmem-topbar-title {
    line-height: inherit;
    margin-bottom: inherit; }
    #lmem--alternatives--root .lmem-topbar-title strong {
      color: #f68714;
      font-size: inherit; }
  #lmem--alternatives--root .lmem-topbar {
    order: -1;
    background: #EEE8D5;
    left: 0;
    padding: 15px;
    right: 0;
    top: 0;
    display: flex;
    justify-content: flex-end; }
    #lmem--alternatives--root .lmem-topbar nav {
      flex: 0 0 auto; }
    #lmem--alternatives--root .lmem-topbar > nav,
    #lmem--alternatives--root .lmem-topbar > .lmem-share-buttons,
    #lmem--alternatives--root .lmem-topbar > .button-wrapper,
    #lmem--alternatives--root .lmem-topbar > .button-wrapper .button-label {
      line-height: 30px; }
    #lmem--alternatives--root .lmem-topbar .mainframe-inner {
      align-items: center;
      border-color: rgba(147, 161, 161, 0.3);
      display: flex;
      font-size: 15px;
      height: 30px; }
    #lmem--alternatives--root .lmem-topbar .button-directive {
      justify-content: flex-end; }
    #lmem--alternatives--root .lmem-topbar .with-image img {
      margin: 0; }
    @media (max-width: 1074px) {
      #lmem--alternatives--root .lmem-topbar {
        z-index: 20; }
        #lmem--alternatives--root .lmem-topbar .button-label {
          border: 0;
          clip: rect(0 0 0 0);
          height: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          width: 1px; }
          #lmem--alternatives--root .lmem-topbar .button-label.focusable:active, #lmem--alternatives--root .lmem-topbar .button-label.focusable:focus {
            clip: auto;
            height: auto;
            margin: 0;
            overflow: visible;
            position: static;
            width: auto; }
        #lmem--alternatives--root .lmem-topbar .button-compact.with-image img {
          margin-left: 0; } }
    @media (min-width: 1075px) {
      #lmem--alternatives--root .lmem-topbar .button-label + .tooltip {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px; }
        #lmem--alternatives--root .lmem-topbar .button-label + .tooltip.focusable:active, #lmem--alternatives--root .lmem-topbar .button-label + .tooltip.focusable:focus {
          clip: auto;
          height: auto;
          margin: 0;
          overflow: visible;
          position: static;
          width: auto; }
      #lmem--alternatives--root .lmem-topbar .with-image img {
        margin-right: .2ex;
        width: 20px; }
      #lmem--alternatives--root .lmem-topbar .with-image {
        min-width: 90px; } }
  #lmem--alternatives--root .lmem-controls-list > li {
    display: inline-block;
    margin-right: 15px; }
  #lmem--alternatives--root .lmem-controls-picto {
    transition: transform .4s ease .1s;
    vertical-align: top;
    width: 30px; }
  #lmem--alternatives--root .lmem-controls-open {
    transform: rotate(180deg); }
  #lmem--alternatives--root .lmem-controls-tooltip {
    padding: 7px 0 0; }
    .with-tooltip #lmem--alternatives--root .lmem-controls-tooltip {
      top: calc(100%);
      right: initial;
      bottom: initial;
      left: 0; }
    #lmem--alternatives--root .lmem-controls-tooltip > ::after {
      border-color: transparent transparent rgba(0, 43, 54, 0.9);
      border-width: 0 8.4px 8.4px;
      top: initial;
      right: initial;
      bottom: calc(100% + 1px);
      left: 7.06032px; }
  #lmem--alternatives--root .lmem-disclaimer {
    color: #93A1A1;
    font-size: 10px;
    font-weight: 300;
    hyphens: auto;
    line-height: 15px; }
    #lmem--alternatives--root .lmem-disclaimer a {
      font-size: inherit; }
  #lmem--alternatives--root .lmem-disclaimer-legal {
    display: inline-block;
    font-size: 7px;
    font-weight: 300;
    line-height: 7.5px; }
  #lmem--alternatives--root .summary-entry-title, #lmem--alternatives--root .summary-detail-title {
    background-color: #EEE8D5;
    border-radius: 2px;
    color: #586E75;
    padding: 0 .5ex; }
    #lmem--alternatives--root .summary-entry-title::after, #lmem--alternatives--root .summary-detail-title::after {
      content: ' :'; }
  #lmem--alternatives--root th.summary-entry-title, #lmem--alternatives--root th.summary-detail-title {
    border-radius: 0;
    border-color: #657B83; }
  #lmem--alternatives--root .price {
    color: #f68714;
    font-weight: 600; }
  #lmem--alternatives--root .with-badge {
    white-space: nowrap; }
  #lmem--alternatives--root .badge {
    background: #93A1A1;
    border-radius: 1em;
    color: #EEE8D5;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    font-weight: 700;
    margin-left: .4ex;
    padding: 0 .8ex;
    vertical-align: baseline; }
  #lmem--alternatives--root .picto {
    vertical-align: top;
    width: 30px; }
  #lmem--alternatives--root .entry-tooltip strong {
    font-weight: bold; }
  #lmem--alternatives--root button, #lmem--alternatives--root .button, #lmem--alternatives--root .button-compact {
    background-image: linear-gradient(to top, rgba(250, 250, 250, 0.8) 50%, rgba(237, 237, 237, 0.8));
    border: 1px solid rgba(147, 161, 161, 0.8);
    border-radius: 3px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05), 0 1px 0 0 #fff inset;
    color: #586E75;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    margin-top: -1px;
    margin-bottom: -1px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 1px #FFFDF9; }
    #lmem--alternatives--root button:hover, #lmem--alternatives--root .button:hover, #lmem--alternatives--root .button-compact:hover, #lmem--alternatives--root button:focus, #lmem--alternatives--root .button:focus, #lmem--alternatives--root .button-compact:focus, #lmem--alternatives--root button:active, #lmem--alternatives--root .button:active, #lmem--alternatives--root .button-compact:active, #lmem--alternatives--root button.active, #lmem--alternatives--root .active.button, #lmem--alternatives--root .active.button-compact {
      background: #FFFDF9;
      color: #586E75;
      text-decoration: none; }
    #lmem--alternatives--root button:focus, #lmem--alternatives--root .button:focus, #lmem--alternatives--root .button-compact:focus {
      outline: dotted 1px;
      outline-color: inherit;
      outline-offset: -4px; }
  #lmem--alternatives--root .button {
    padding: 0 1ex; }
  #lmem--alternatives--root .button-compact {
    margin: -1px;
    padding: 0; }
  #lmem--alternatives--root .button-deactivated {
    cursor: default; }
  #lmem--alternatives--root .button-wrapper .button-directive .button:not(.with-image), #lmem--alternatives--root .with-image .button-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  #lmem--alternatives--root .button-wrapper .button-directive {
    display: flex; }
  #lmem--alternatives--root .button-directive {
    justify-content: flex-end; }
  #lmem--alternatives--root .close-button, #lmem--alternatives--root .menu-close-button {
    opacity: .6;
    transition: opacity .2s; }
    #lmem--alternatives--root .close-button:hover, #lmem--alternatives--root .menu-close-button:hover, #lmem--alternatives--root .close-button:focus, #lmem--alternatives--root .menu-close-button:focus, #lmem--alternatives--root .close-button:active, #lmem--alternatives--root .menu-close-button:active {
      opacity: 1; }
  #lmem--alternatives--root .with-right-arrow::after {
    border-color: transparent transparent transparent #586E75;
    border-width: 8px 0 8px 8px;
    display: inline-block;
    right: 1ex;
    top: 35%; }
  #lmem--alternatives--root .button-summary {
    display: block; }
    #lmem--alternatives--root .button-summary.with-image {
      display: flex; }
  #lmem--alternatives--root .with-pane::after, #lmem--alternatives--root .with-double-pane::after {
    border-color: #586E75 transparent transparent;
    border-width: 8px 8px 0;
    display: inline-block;
    right: 1ex;
    top: 40%; }
  #lmem--alternatives--root .with-double-pane::before {
    border-color: #586E75 transparent transparent;
    border-width: 8px 8px 0;
    display: inline-block;
    left: 1ex;
    top: 40%; }
  #lmem--alternatives--root .with-image {
    display: inline-flex; }
    #lmem--alternatives--root .with-image img {
      align-self: center;
      flex: 0 0 auto;
      margin-left: 1ex; }
    #lmem--alternatives--root .with-image.button-compact img {
      margin-left: .5ex; }
